<html lang="de" ng-app="CWNerdQuizApp">
<head>
<title>CWNerdQuiz</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="css/cwnerdquiz.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>

<!-- Own -->
<script src="./js/cwnerdquizcontroller.js"></script>
<script src="./js/cwnerdquizaddplayercontroller.js"></script>
<script src="./js/cwnerdquizquestioncontroller.js"></script>

<script src="./js/cwnerdquizwebsocketcontroller.js"></script>

</head>
<body ng-controller="CWNerdQuizController" class="main">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<a class="navbar-brand" href="">CWNerdQuiz</a>
		</div>
		<div ng-repeat="player in players" class="navbar-text" ng-show="players.length > 0">
			<label class="btn-normal"> {{$index + 1}} : {{player.name}}({{player.points}})</label>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Einstellungen<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a ng-class="{linkDisabled: players.length > 0}" ng-click="initBuzzer()" href="#">Buzzer anmelden</a></li>
						<li role="separator" class="divider"></li>
						<li><a ng-class="{linkDisabled: players.length > 4}" role="button" data-toggle="modal" data-target="#addPlayerModal" ng-click="addPlayer()">Spieler
								hinzuf&uuml;gen</a></li>
					</ul></li>
				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quizzes<span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="quiz in quizzes"><a ng-class="{linkDisabled: selectedQuiz != undefined}" ng-click="selectQuiz(quiz)" href="#">{{quiz}}</a></li>
					</ul></li>
			</ul>
		</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10 black text-center">
				<table class="table-fix" width="100%" ng-show="selectedQuiz != undefined">
					<tr>
						<th ng-repeat="(categoryName, questions) in selectedQuiz.categories">
							<div class="categoryHeader">
								{{categoryName}}
								<div>
						</th>
					</tr>
					<tr class="table-questions" ng-repeat="(questionIndex, qestionValue) in selectedQuiz.categories[pivotKey]">
						<td ng-repeat="questions in selectedQuiz.categories">
							<div class="btn btn-xlarge category-{{$index}} question-{{questionIndex}}" role="button" data-toggle="modal" data-target="#questionModal"
								ng-click="selectQuestion(questions, questionIndex, 'category-' + $index)">{{questionIndex}}</div>
						</td>
					<tr>
				</table>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>

	<websocket ng-controller="CWNerdQuizWebSocketController"></websocket>
	<ng-include src="'/html/cwnerdquizaddplayer.html'"></ng-include>
	<ng-include src="'/html/cwnerdquizquestion.html'"></ng-include>
</body>
</html>

