<html lang="de" ng-app="CWNerdQuizApp">
    <head>
        <title>CWNerdQuiz</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="css/cwnerdquiz.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    </head>
    <body ng-controller="CWNerdQuizController">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="#">CWNerdQuiz</a>
			</div>
			<form class="navbar-form navbar-left" ng-show="players.length > 0">
				<div class="form-group">
					<label ng-repeat="player in players" type="text" class="form-control">{{player.points}} : {{player.name}}</label>
				</div>
			</form>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Einstellungen<span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a ng-class="{linkDisabled: players.length > 0}" ng-click="initBuzzer()" href="#">Buzzer anmelden</a></li>
					<li role="separator" class="divider"></li>
					<li ><a ng-class="{linkDisabled: players.length > 4}"  role="button" data-toggle="modal" data-target="#addPlayerModal">Spieler hinzuf&uuml;gen</a></li>
				  </ul>
				</li>
			  </ul>
			</div>
		  </div>
		</nav>
		<div class="container">
			<div ng-repeat="quiz in quizzes">
				<a type="button" class="btn btn-primary" ng-click="selectQuiz(quiz)" href="">{{quiz}}</a>
			</div>
			<quiz-table></quiz-table>
		</div>
		
		<script src="./js/cwnerdquizcontroller.js"></script>
		<script src="./js/cwnerdquiztablecontroller.js"></script>
		<script src="./js/cwnerdquizaddplayercontroller.js"></script>
		
		<ng-include src="'/html/cwnerdquizaddplayer.html'"></ng-include>
    </body>
</html>

